@charset "UTF-8";

header.ja2pyc_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #f0f0f0;
	background-color: #151538;
	padding: 1rem;
	margin: 0 0 1rem 0;
}

header.ja2pyc_header .header_title {
	font-size: 2rem;
}

header.ja2pyc_header .header_nav {
	
}